.fotter__contents
  %ul
    %li
      noteプレミアム
    %li
      クリエーターの方へ
    %li
      よくある質問
    %li
      使い方
    %li
      プライバシー
    %li
      ご利用規約
    %li
      運営会社
    %li
      採用情報
    %li
      運営へのお問い合わせ

