%body
  %form{:action => "/payments", :method => "POST"}
    %script.payjp-button{"data-key" => "", "data-partial" => "true", :src => "https://checkout.pay.jp/", :type => "text/javascript"}
    %input{:type => "submit"}/
