%html
  %head
    %title NOTE
  %body
    .header
      = render "header"

    .time-line
      .under-header
      .hash-list
        .btn-group
          %ul
            %li
              .popular-button
                人気
              .new-button
                新着
      .feeds
        = render "feeds"
    .footer
      = render "footer"

