.note-show
  .note-show-header
    = render "shared/header"
  .note-show
    .under-header
    .note-show-container
      .note-show-container-rend
        - if @note.fee.present?
          = render "shared/note-limitedshow"
        -else
          = render "shared/feeds"
    .note-show__popular
    .note-show__page-link
    .note-show__popular
    .note-show__user-info
    


  .note-show-footer
    = render "shared/footer"
    / .note-show-footer__container
    /   %ul
    /     %li
    /       noteプレミアム
    /     %li
    /       クリエーターの方へ
    /     %li
    /       よくある質問
    /     %li
    /       使い方
    /     %li
    /       プライバシー
    /     %li
    /       ご利用規約
    /     %li
    /       運営会社
    /     %li
    /       採用情報
    /     %li
    /       運営へのお問い合わせ
