.body
  .header
    = render "shared/header"
  .creator
    .ceator__content
      .creator__avator
        = image_tag "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/4736047/profile_2538ba870146020f481dac42244d9045.jpg", class: "profile-avator"
        .creator__contentInner
          .creator__innerHeader
            .creator__nameID
              tr.n031
            .creator__edit
          .creator__list
            %ul
              %li
                .creator__follow
                .creator__follower
                .creator__facebook
  .customNav
    .customNav__inner
      .customNav__nav
        %ul
          %li
            .creator-home-btn
            .creator-magazine
  .pageContainer
    .pageContainer__main